*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'inter', sans-serif;
   height: 100vh;
   background-image: radial-gradient(ellipse, #385300 , #212900);
   display:flex;
   justify-content: center;
   align-items: center;
}
.counter{
   background-color: chartreuse;
   width: 476px;
   height: 610px;
   border-radius: 12px;
   box-shadow: 1 2.5px rgba(0, 0, 0,0.5);
   display: flex;
   flex-direction: column;
   align-items: center;
}
.counter-limit{
    background-color:red
}
button{ 
   all: unset;
}

.counter_title{
   opacity: 0.6;
   text-transform: uppercase;
   letter-spacing: 1PX;
   width: 200px;
   text-align: center;
   line-height: 0.9;
   font-weight: 500;
   font-size: 32px;
   margin-top: 60px;

}

.counter_vlue{
   color: black;
   font-size: 200px;
   font-weight: 600;
   margin-top: 10px;

}

.counter_reset-button{
   cursor: pointer;

}
.counter_reset-icon{
   opacity: 0.3;
   font-size: 35px;
   transition: all 0.5s ;
}
.counter_reset-icon:hover
{
   opacity: 0.8;
}

.counter_buttons{
background-color: #1D2507;
height: 116px;
width: 100%;
margin-top: auto;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px ;
display: flex
}


.counter_icon{
   color: #bdfe00;
   font-size: 40px;
}

.counter_button{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;

}
.counter_button:hover{
   background-color: #212b06;
   cursor: pointer;
}

.counter_button--decrease{

}

.counter_button--increase{
   border-left: 1px solid rgba(189, 254, 0,0.12);
}

@media (max-width:680px) {
   .counter{
      width: 100%;
      height: 100%;
      border-radius: 0;
   }
   .counter_title {
      margin-top: 100px;
   }
}
